*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: #f7f7f7;
  font-size: 1em;
  font-family:Microsoft YaHei;
}

.header{
    background-color:#EAEFF6;
}

.profile{
  width:1000px;/*设置文字框的大小*/
  margin: 0 auto;
  padding: 60px 0;
}

li{
  list-style: none;
}

.profile h1{
  font-weight: bold;
}

.profile p{
   margin: 10px 0;   /*文字段落前后10px,左右0px,顺时针进行 */
}

.profile .links{
  margin-top: 30px;
}

.info{
  display:flex;
  width:1000px;
  margin: 0 auto;
  padding: 70px 0;
  justify-content: space-between;
}

.info h2{
  font-size: 1.2em;
  font-weight: bold;
}

.info li{
  margin:20px 0;
}

.project-wrap{
  width:1000px;
  margin:0 auto;
}

.project-wrap h2{
  margin-bottom:20px;
  font-size: 1.2em;
}


.projects{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.projects img{
  width:100%;
}

.links img{
  width:30px;
  margin-right: 17px;
}
.links img:hover{
  opacity:0.5;
}

.info .jiaoyu{
  width:35px;
  margin-right: 10px;
  vertical-align:bottom;
}

.info .nengli{
  width:35px;
  margin-right: 10px;
  vertical-align:bottom;
}

.info .ruanjian{
  width:34px;
  margin-right: 10px;
  vertical-align:bottom;
}

.project{
  width:400px;
  background-color: #FFFFFF;
  padding:10px;
  margin-bottom: 150px;
  box-shadow: 2px 1px 15px rgba(0,0,0,0.1);
  border-radius:9px;
}

.project h3{
  margin:15px 0;
  font-size: 1.2em;
}

.project p{
  text-indent: 2em;
  margin-bottom:20px;
  line-height: 1.9em;
  font-size: 1em;
}

.projects span{
  margin-right:20px;
  font-size: 0.9em;
  font-weight: bold;
}

.purple{
  color: #8C0CF4;
}

.red{
  color: #CC0C1C;
}
