* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  font-size: 1em;
  font-family: Microsoft YaHei;
}

.profile .myphoto img {
  width: 230px;
  margin-top: -250px;
  margin-left: 600px;
  border-radius: 150px;
}

a {
  text-decoration: none;
  color: #272727;
}

a:hover {
  color: #FC8CB4;
}

.header {
  background-color: #EAEFF6;
  width: 100%;
}

.profile {
  width: 1000px;
  /*设置文字框的大小*/
  margin: 0 auto;
  padding: 60px 0;
}

li {
  list-style: none;
}

.profile h1 {
  font-weight: bold;
}

.profile p {
  margin: 10px 0;
  /*文字段落前后10px,左右0px,顺时针进行 */
}

.profile .links {
  margin-top: 30px;
}

.info {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  padding: 70px 0;
  justify-content: space-between;
}

.info h2 {
  font-size: 1.2em;
  font-weight: bold;
}

.info li {
  margin: 20px 0;
}

.project-wrap {
  width: 1000px;
  margin: 0 auto;
}

.project-wrap h2 {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects img {
  width: 100%;
}

.links img {
  width: 30px;
  margin-right: 17px;
}

.links img:hover {
  opacity: 0.5;
}

.info .jiaoyu {
  width: 35px;
  margin-right: 10px;
  vertical-align: middle;
}

.edu .zl {
  width: 38px;
  margin-right: 10px;
  vertical-align: middle;
}

.info .nengli {
  width: 35px;
  margin-right: 10px;
  vertical-align: middle;
}

.info .ruanjian {
  width: 34px;
  margin-right: 10px;
  vertical-align: middle;
}

.skill .cet4 {
  width: 34px;
  margin-right: 10px;
  vertical-align: middle;
}

.skill .computer {
  width: 34px;
  margin-right: 10px;
  vertical-align: middle;
}

.softwares .ad {
  width: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.softwares .ccs {
  width: 25px;
  margin-right: 10px;
  vertical-align: middle;
}

.softwares .adobe {
  width: 25px;
  margin-right: 10px;
  vertical-align: middle;
}

.softwares .sd {
  width: 25px;
  margin-right: 10px;
  vertical-align: middle;
}

.softwares .c4d {
  width: 25px;
  margin-right: 10px;
  vertical-align: middle;
}

.project {
  width: 400px;
  background-color: #FFFFFF;
  padding: 10px;
  margin-bottom: 150px;
  box-shadow: 2px 1px 15px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
}

.project h3 {
  margin: 15px 0;
  font-size: 1.2em;
}

.project p {
  text-indent: 2em;
  margin-bottom: 20px;
  line-height: 1.9em;
  font-size: 1em;
}

.projects span {
  margin-right: 20px;
  font-size: 0.9em;
  font-weight: bold;
}

.xiangmu {
  width: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.purple {
  color: #8C0CF4;
}

.red {
  color: #CC0C1C;
}

footer {
  margin: 30px auto;
}

footer p {
  text-align: center;
  color: #aaabab;
}

.airpods {
  position: absolute;
  background-position: bottom;
  opacity: .3;
  width: 100px;
  animation-name: float2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.pencil {
  position: absolute;
  background-position: bottom;
  opacity: .3;
  width: 100px;
  animation-name: float3;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.ipad {
  position: absolute;
  background-position: bottom;
  opacity: .3;
  width: 100px;
  animation-name: float4;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.watch {
  position: absolute;
  background-position: bottom;
  opacity: .3;
  width: 100px;
  animation-name: float5;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.iphonex {
  position: absolute;
  background-position: bottom;
  opacity: .3;
  width: 100px;
  animation-name: float1;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes float1 {
  from {
    transform: translate(80px, 250px) rotate(0);
  }

  to {
    transform: translate(500px, -20px) rotate(540deg);
  }
}

@keyframes float2 {
  from {
    transform: translate(2000px, 1000px) rotate(0);
  }

  to {
    transform: translate(-50px, 400px) rotate(1800deg);
  }
}

@keyframes float3 {
  from {
    transform: translate(500px, -100px) rotate(0);
  }

  to {
    transform: translate(700px, 2400px) rotate(1800deg);
  }
}

@keyframes float4 {
  from {
    transform: translate(800px, -70px) rotate(0);
  }

  to {
    transform: translate(-50px, 2350px) rotate(8000deg);
  }
}

@keyframes float5 {
  from {
    transform: translate(1300px, 250px) rotate(0);
  }

  to {
    transform: translate(1200px, 50px) rotate(720deg);
  }
}

@media(max-width:700px) {
  .profile, .info, .project-wrap, footer {
    width: 90%;
    margin: 0 auto;
  }

  .info {
    display: block;
    margin: 0 auto;
    padding: 70px 0;
  }

  .edu,.skill {
    margin-bottom: 80px;
  }

  .header{
    width: 100%;
  }

  .project{
    width: 90%;
    margin: auto;
    margin-bottom: 80px;

  }

  .iphonex, .watch, .ipad, .pencil, .airpods {
    width: 60px;
    animation-duration: 8s;
  }

  @keyframes float1 {
    from {
      transform: translate(180px, 300px) rotate(0);
    }

    to {
      transform: translate(340px, 240px) rotate(720deg);
    }
  }

  @keyframes float2 {
    from {
      transform: translate(375px, 812px) rotate(0);
    }

    to {
      transform: translate(-50px, 300px) rotate(1800deg);
    }
  }

  @keyframes float3 {
    from {
      transform: translate(200px, 20px) rotate(0);
    }

    to {
      transform: translate(375px, 812px) rotate(1800deg);
    }
  }

  @keyframes float4 {
    from {
      transform: translate(375px, -70px) rotate(0);
    }

    to {
      transform: translate(-50px, 812px) rotate(8000deg);
    }
  }

  @keyframes float5 {
    from {
      transform: translate(100px, 250px) rotate(0);
    }

    to {
      transform: translate(375px, 50px) rotate(720deg);
    }
  }
}
